<div class="container">
    <div id="slides">
      	<%= image_tag("Citrus.png") %>
      	<%= image_tag("Marilyntatts.png") %>
      	<%= image_tag("Milk.png") %>
     	<%= image_tag("Siamese.png") %>
	</div>
</div>
