/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

li {
	font-family: "Arial";
	font-size: 18px;
	color: black;
}

.facebook, .twitter {
	margin-right: 3px;
	list-style: none;
}

.social-icon {
	width: 35px !important;
}


.home-container {
	width: 100%;
	margin: auto;
	overflow: hidden;
	padding-top: 5%;
}

nav {
	text-align: center;
	padding-left: 20%;
	margin-bottom: 3%;
}

nav, ul {
	overflow: hidden;
}

.home-container img {
	margin-left: 32%;
	margin-bottom: 2%;
}

li {
	float: left;
	margin-right: 50px;
}

a:link {text-decoration:none;}

a:visited {color: black;}
a:hover
{
background-color: none !important;
}


.illustrations-container, .photography-container {
	padding: 4% 0 4% 3.6%;
}

.illustration-thumb img, .photography-thumb img{
	width: 30%;
	float: left;
	margin-right: 3%;
	margin-bottom: 3%;
}



.illustration-large, .photography-large{
	width: 100%;
}

.illustration-large img{
	width: 50%;
	margin: 5% 25%;
}

.photography-large img{
	width: 81%;
	margin: 5% 9.6%;
}

#slides {
      display: none
    }

    /* Center the slideshow */
    .container {
      margin: 0 auto
    }

    /* Show active item in the pagination */
    .slidesjs-pagination .active {
      color:red;
    }

    /* Media quires for a responsive layout */

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 10px;
        padding-right: 10px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }

.slidesjs-pagination-item {
	display: none;
}

.slidesjs-previous.slidesjs-navigation {
	margin-right: 10px;
}
